%table
  %thead
    %tr
      %th ID
      %th Username
      %th Email
      %th is_admin
  %tbody
    - @users.each do |user|
      %tr
        %th= user.id
        %th= user.username
        %th= user.email
        %th= user.is_admin

:javascript
  $('table').dataTable();